rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthor() {
      return request.auth != null
        && (
          request.auth.uid == "Mk3hx50G6JPYxpLuy6EnfrMfsxC2"
          || (
            request.auth.token.email != null
            && request.auth.token.email in [
              "author@example.com",
              "moyosbi2007@gmail.com",
              "analufunomudau@gmail.com"
            ]
          )
        );
    }

    match /journal_posts/{docId} {
      allow read: if resource.data.published == true || isAuthor();
      allow create, update, delete: if isAuthor();
    }

    match /books/{docId} {
      allow read: if resource.data.status != "draft" || isAuthor();
      allow create, update, delete: if isAuthor();
    }
  }
}
