rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAuthor() {
      return request.auth != null
        && (
          request.auth.uid == "Mk3hx50G6JPYxpLuy6EnfrMfsxC2"
          || (
            request.auth.token.email != null
            && request.auth.token.email in [
              "author@example.com",
              "moyosbi2007@gmail.com",
              "analufunomudau@gmail.com"
            ]
          )
        );
    }

    match /journal/{entrySlug}/{fileName} {
      allow read: if true;
      allow write: if isAuthor()
        && request.resource.size < 85 * 1024 * 1024
        && request.resource.contentType.matches('image/.*|video/.*');
      allow delete: if isAuthor();
    }
  }
}
